protobuf<3.20
nemo_toolkit>=1.9.0
pytorch_lightning
omegaconf==2.1.2
pydub==0.25.1
SoundFile==0.10.3.post1
streamlit==1.10.0
hydra-core
braceexpand
webdataset
librosa
inflect
transformers
sentencepiece
Cython
youtokentome
IPython
editdistance
h5py
sacremoses
sacrebleu
einops
jieba
opencc
pangu
ipadic
mecab-python3
praat-parselmouth
pyctcdecode
psutil
ijson
spacy
torchaudio
pyannote
pyannote.metrics
pyannote.audio
pyannote.pipeline
pyannote.core